@use '@/src/styles/abstracts/variables' as *;
@use '@/src/styles/abstracts/mixins' as *;

.featureCard {
  @include flex(column, space-between, flex-start);
  text-align: left;
  padding: $spacing-md;
  background-color: $color-bg-primary;
  border: 1px solid $color-border-feature;
  border-radius: $radius-xl;
  width: 100%;
  min-height: 9.375rem;
  transition: $transition-base;
  
  &__icon {
    @include flex(row, center, center);

    width: $spacing-lg;
    height: $spacing-lg;
    border-radius: 50%;
    background-color: $color-teal-light;
    color: $color-bg-primary;
    font-size: $font-size-xxs;
    font-weight: $font-weight-semibold;
    margin-bottom: $spacing-xl;
    flex-shrink: 0;
  }

  &__activeText {
    color: $color-bg-primary !important;
  }

  &--active {
  background: linear-gradient(
  90deg, 
  rgba($color-grad-comparison-start,0.4) 0% ,
  $color-teal-muted 75% 100%
);

    box-shadow: 0 0.625rem 1.5625rem -0.3125rem $color-shadow-primary;

    .featureCard__icon {
      background-color: rgba($color-bg-primary, 0.3);
    }
  }
}
